body {
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    flex: 50%;
}

#container button {
    width: 7rem;
}

#container form {
    display: flex;
    flex-direction: column;
}

#container form button {
    width: 4rem;
    margin-top: 1rem;
}